{% extends 'base.html.twig' %}

{% block body %}

  <h2>Last actions</h2>
  <table class="table table-striped">
    <tr>
      <th>id</th>
      <th>box</th>
      <th>customer</th>
      <th>action</th>
      <th>date</th>
    </tr>  
    {% for action in lastActions %}
    <tr>    
      <td>{{action.id}}</td>
      <td>{{action.box.signature}}</td>
      <td>{{action.customer.name}}</td>
      <td>{{action.action}}</td>
      <td>{{action.date|date('Y:m:d')}}</td>
    </tr>    
    {% endfor %}    
  </table>

  <h2>Boxes currently in: {{ boxesIn }}</h2>

  <h2>Boxes currently out: {{ boxesOut }}</h2>

  <h2>Boxes currently in (by customers) </h2>

  <table class="table table-striped">
    <tr>
      <th>Customer</th>
      <th>Count</th>
    </tr> 
    {% for boxIn in boxesInCount %}
    <tr>    
      <td>{{ boxIn.name }}</td>
      <td>{{ boxIn.boxCount }}</td>
    </tr>    
    {% endfor %}
  </table>

  <h2>Boxes currently out (by customers) </h2>

  <table class="table table-striped">
    <tr>
      <th>Customer</th>
      <th>Count</th>
    </tr> 
    {% for boxOut in boxesOutCount %}
    <tr>    
      <td>{{ boxOut.name }}</td>
      <td>{{ boxOut.boxCount }}</td>
    </tr>    
    {% endfor %}
  </table>

{% endblock %}

