{% extends 'base.html.twig' %}

{% block body %}

  <h1>Search...</h1>

  {% if filterForm is defined %}
    {{ form_start(filterForm) }}
      {{ form_widget(filterForm) }}
      <input type="submit" value="Search" class="btn btn-default" />
    {{ form_end(filterForm) }}
  {% endif %}

  {% if searchResults is defined %}
    <table class="table table-striped">
      <thead>
        <tr>
          <th>Id</th>
          <th>Signature</th>
          <th>Customer</th>
          <th>Status</th>
          <th>Last action</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
      {% for box in searchResults %}
        <tr>
          <td><a href="{{ path('box_show', { 'id': box.id }) }}">{{ box.id }}</a></td>
          <td>{{ box.signature }}</td>
          <td><a href="{{ path('customer_show', {'id':box.customer.id}) }}">{{ box.customer.name }}</a></td>
          <td>{{ box.status }}</td>
          <td>{% if box.lastAction %}{{ box.lastAction|date('Y-m-d') }}{% endif %}</td>
          <td>
            <ul>
              <li>
                <a href="{{ path('box_show', { 'id': box.id }) }}">show</a>
              </li>
              <li>
                <a href="{{ path('box_edit', { 'id': box.id }) }}">edit</a>
              </li>                       
            </ul>
          </td>
        </tr>                
      {% endfor %}
      </tbody>
    </table>
  {% endif %}

  <a href="{{ path('box_new') }}" class="btn btn-default">Add new box</a>
  
{% endblock %}
