{% extends 'base.html.twig' %}

{% block body %}

  {% if searchResults is defined %}
    <div id="resultTable">
      <table class="table table-striped">
        <thead>
          <tr>
            <th>Id</th>
            <th>Signature</th>
            <th>Customer</th>
            <th>Status</th>
            <th>Last action</th>
            <th>Actions</th>
          </tr>
        </thead>
        <tbody>
        {% for box in searchResults %}
          <tr>
            <td><a href="{{ path('box_show', { 'id': box.id }) }}">{{ box.id }}</a></td>
            <td>{{ box.signature }}</td>
            <td><a href="{{ path('customer_show', {'id':box.customer.id}) }}">{{ box.customer.name }}</a></td>
            <td>{{ box.status }}</td>
            <td>{% if box.lastAction %}{{ box.lastAction|date('Y-m-d') }}{% endif %}</td>
            <td>
              <ul>
                <li>
                  <a href="{{ path('box_show', { 'id': box.id }) }}">show</a>
                </li>
                <li>
                  <a href="{{ path('box_edit', { 'id': box.id }) }}">edit</a>
                </li>                       
              </ul>
            </td>
          </tr>                
        {% endfor %}
        </tbody>
      </table>
    </div>
  {% endif %}

  <div class="modal fade" id="modal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title">Results</h4>
          (limited to 100, if you can't find what you are looking for, please narrow down search results.)
        </div>
        <div class="modal-body">
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
  </div><!-- /.modal -->

  <a href="{{ path('box_new') }}" class="btn btn-default">Add new box</a>

  <h1>Search...</h1>

  {% if filterForm is defined %}
    {{ form_start(filterForm, {'attr': {'class': 'modal-form'}}) }}
      {{ form_widget(filterForm) }}
      <input type="submit" value="Search" class="btn btn-default inline" id="modalShow" data-toggle="modal" data-target="#modal" />
    {{ form_end(filterForm) }}
  {% endif %}

{% endblock %}
