{% extends 'base.html.twig' %}

{% block body %}

  <div id="resultTable">  

    {% if searchResults is not null %}
      <table class="table table-striped">
        <thead>
          <tr>
            <th>Id</th>
            <th>Signature</th>
            <th>Customer</th>
            <th>Status</th>
            <th>Last action</th>
            <th>Actions</th>
          </tr>
        </thead>
        <tbody>
        {% for box in searchResults %}
          <tr>
            <td><a href="{{ path('box_show', { 'id': box.id }) }}">{{ box.id }}</a></td>
            <td>{{ box.signature }}</td>
            <td><a href="{{ path('customer_show', {'id':box.customer.id}) }}">{{ box.customer.name }}</a></td>
            <td>{{ box.status }}</td>
            <td>{% if box.lastAction %}{{ box.lastAction|date('Y-m-d') }}{% endif %}</td>
            <td>
              <ul>
                <li>
                  <a href="{{ path('box_show', { 'id': box.id }) }}">show</a>
                </li>
                <li>
                  <a href="{{ path('box_edit', { 'id': box.id }) }}">edit</a>
                </li>                       
              </ul>
            </td>
          </tr>                
        {% endfor %}
        </tbody>
      </table>
    {% endif %}

    {% if datesError is not null %}
      <div class="alert alert-danger" role="alert">{{datesError}}</div>
    {% endif %}
    
    {% if actionsFromTo is not null %}
      <table class="table table-striped">
        <thead>
          <tr>
            <td>Action</td>
            <td>Signature</td>
            <td>Date</td>
          </tr>  
        </thead>  
        <tbody>
        {% for action in actionsFromTo %}
          <tr>
            <td>{{ action.action }}</td>
            <td>{{ action.box.signature }}</td>
            <td>{{ action.date|date('Y-m-d') }}</td>
          </tr>                
        {% endfor %}
        </tbody>
      </table> 
    {% endif %}
  </div>

  <div class="modal fade" id="modal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title">Results</h4>
        </div>
        <div class="modal-body">
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
  </div><!-- /.modal -->

  <h1>Customer: {{ customer.name }}</h1>

  <table class="table table-striped">
    <tbody>
      <tr>
        <th>Id</th>
        <td>{{ customer.id }}</td>
      </tr>
      <tr>
        <th>Company Name</th>
        <td>{{ customer.name }}</td>
      </tr>
      <tr>
        <th>Address</th>
        <td>{{ customer.address }}</td>
      </tr>
      <tr>
        <th>Number of boxes</th>
        <td>{{ customer.boxes|length }}</td>
      </tr>    
      <tr>
        <th>Number of boxes in</th>
        <td>
          {% if boxesIn.0.boxCount is defined %}
            {{ boxesIn.0.boxCount }}
          {% else %}
            0
          {% endif %}
        </td>
      </tr>
      <tr>
        <th>Number of boxes out</th>
        <td>
          {% if boxesOut.0.boxCount is defined %}
            {{ boxesOut.0.boxCount }}
          {% else %}
            0
          {% endif %}
        </td>
      </tr>                                  
    </tbody>
  </table>
  <a href="{{ path('customer_index') }}" class="btn btn-default inline">Back to the list</a>

  <a href="{{ path('customer_edit', { 'id': customer.id }) }}" class="btn btn-default inline">Edit</a>

  {{ form_start(delete_form) }}
    <input type="submit" value="Delete" class="btn btn-danger inline">
  {{ form_end(delete_form) }}

  <div class="clearfix">

  <div class="row">
    <div class="col-md-6">
      <h2>Show actions</h2>

      {{ form_start(actionsForm, {'attr': {'class': 'modal-form'}}) }}
        {{ form_widget(actionsForm) }}
        <input type="submit" value="Search" class="btn btn-default" data-toggle="modal" data-target="#modal" />
      {{ form_end(actionsForm) }}
    </div>
    <div class="col-md-6">
      <h2>Search box</h2>

      {% if filterForm is defined %}
        {{ form_start(filterForm, {'attr': {'class': 'modal-form'}}) }}
          {{ form_widget(filterForm) }}
          <input type="submit" value="Search" class="btn btn-default inline" data-toggle="modal" data-target="#modal" />
        {{ form_end(filterForm) }}
      {% endif %}      
    </div>
  </div>  

{% endblock %}
